<section>
    <div class="mother"> 
    <div class="section-item">
        <p>WHO WE ARE</p>
        <h1 >About Us</h1>
        <p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Inventore velit dolores possimus, et aliquam aliquid quibusdam, magnam hic recusandae, voluptatibus nihil architecto quo optio fuga, doloribus soluta eius qui voluptatum?</p>
        <br>
        <p>Quibusdam, hic. Corporis nisi, non nam totam velit accusantium maxime, nulla tenetur iure quia ipsum ullam tempora, fugit culpa architecto, esse sequi! Cumque deserunt, delectus doloremque sapiente repellat non sunt.</p>
        
        <a href="#">GET STARTED</a>
    </div>
    <div class="section-item1">
        <img src="https://img.freepik.com/premium-photo/senior-businesswoman-young-business-people-work-modern-office_52137-28330.jpg?w=2000" alt="">
    </div>
</div>
</section>