<div class="main">
    <div class="child-item1">
        <p>SERVICES</p>
        <h1>Our <br> Services</h1>
    </div>
    <div class="child-item2">
        <div class="card1">
            <img src="https://www.freeiconspng.com/thumbs/camera-icon/camera-icon-21.png" alt="">
            <p>Photography</p>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero porro minima natus tempora. Quae facere, numquam</span>
        </div>

        <div class="card1">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Settings-icon-symbol-vector.png" alt="">
            <p>Settings</p>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero porro minima natus tempora. Quae facere, numquam</span>
        </div>

        <div class="card1">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/Picture_icon_BLACK.svg/1200px-Picture_icon_BLACK.svg.png" alt="">
            <p>Images</p>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero porro minima natus tempora. Quae facere, numquam</span>
        </div>

        <div class="card1">
            <img src="https://cdn-icons-png.flaticon.com/512/162/162893.png" alt="">
            <p>Layered</p>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero porro minima natus tempora. Quae facere, numquam</span>
        </div>

        <div class="card1">
            <img src="https://cdn-icons-png.flaticon.com/512/3159/3159310.png" alt="">
            <p>Web Design</p>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero porro minima natus tempora. Quae facere, numquam</span>
        </div>

        <div class="card1">
            <img src="https://cdn-icons-png.flaticon.com/512/126/126142.png" alt="">
            <p>eCommerce</p>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero porro minima natus tempora. Quae facere, numquam</span>
        </div>

        <div class="card1">
            <img src="http://cdn.onlinewebfonts.com/svg/img_554646.png" alt="">
            <p>Branding</p>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero porro minima natus tempora. Quae facere, numquam</span>
        </div>

        <div class="card1">
            <img src="https://www.iconpacks.net/icons/2/free-mobile-phone-icon-2636-thumb.png" alt="">
            <p>Mobile Apps</p>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero porro minima natus tempora. Quae facere, numquam</span>
        </div>
    </div>
</div>
