.main{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.mother{
    width: 90%;
    height: 70px;
    border-bottom: 1px solid #EAECEF;
    display: flex;
    justify-content: space-between; 
}
.mother div{
    width: 16.6%;
    height: 100%; 
    display: flex;
    align-items: center;
}