<div class="main">
    <div class="child">
        <p>PRICES FOR EVETYONE</p>
        <h1>Pricing</h1>

        <div class="pricing">
            <div class="outdiv">
                <h3>Starter</h3>
                <span>Lorem ipsum dolor sit
                    amet consectetur
                    adipisicingelit hic
                    <br> quaerat</span>

                <div class="line"></div>
                <div class="currency">$49.99</div>
                <a href="">Buy</a>
            </div>
            <div class="outdiv outdiv1" style="height:500px; margin-top: -14px;">
                <h3>Basic</h3>
                <span>Lorem ipsum dolor sit
                    amet consectetur
                    adipisicingelit hic
                    <br>quaerat</span>

                <div class="line"></div>
                <div class="currency currency1">$199.99</div>
                <a href="">Buy</a>
            </div>
            <div class="outdiv">
                <h3>Premium</h3>
                <span>Lorem ipsum dolor sit
                    amet consectetur
                    adipisicingelit hic
                    <br>quaerat</span>

                <div class="line"></div>
                <div class="currency">$975.99</div>
                <a href="">Buy</a>
            </div>
        </div>

    </div>
</div>