/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-expansion-panel{
    background: white;
}
.mat-expansion-panel-header{
    height: 50px;
}
.mat-expansion-panel-header-title{
    justify-content: center;
    font-weight: 500;
    font-size: 19px;
}
.mat-expansion-panel-header:hover{
    transition: all .3s ease-in-out;
    background-color:rgb(241, 241, 241) ;
}
.mat-accordion .mat-expansion-panel:last-of-type{
    
    margin-top: 10px;
}
input{
    cursor: pointer;
 }
 input[type="range"]{
     width: 100%;
     -webkit-appearance: none !important;
     height: 3px;
     position: relative;
     background: #007BFF;
     border-radius: 5px;
     outline: none;
 }
 input[type="range"]::-webkit-slider-thumb{
     -webkit-appearance: none !important;
     background-color: #fff;
     width: 30px;
     height: 30px;
     border: 1px solid #ddd;
     border-radius: 50%;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
 } 




 