<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid"> 

    <a class="navbar-brand"
    routerLink="/home"
    >Action</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="inner"> 
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" 
          routerLink="/home"
          routerLinkActive="active"
          >Home</a>
           
        </li> 
        <li class="nav-item">
          <a class="nav-link" 
          routerLink="/services"
          routerLinkActive="active"
          >Services</a>
        </li>
         
        <li class="nav-item">
          <a class="nav-link"
          routerLink="/apipage"
          routerLinkActive="active"

          >API</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
          routerLink="/CurrencyApi"
          routerLinkActive="active"

          >Currency API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="/ContactUs"
          routerLinkActive="active"
          >Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLink="/Message/Project"
          routerLinkActive="active"
          >Message Project</a>
        </li>
      </ul> 
    </div>
    </div>
  </div>
</nav>
 

 